@import '../../assets/scss/colors';
.app-header {
    position: relative;
    background-image: url('/assets/images/bg/bg-01.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    .animate {
        overflow: hidden;
        & > * {
            transform: translateY(100%);
            transition: all 1s ease;
        }
        &.active > *{
            transform: none;
        }
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url('/assets/images/bg/bg-overlay.png');
        background-position: center;
        background-size: cover;
        opacity: .9;
        z-index: -1;
    }
    .content {
        color: #ffffff;
        h1 {
            font-family: $app-secondary-font;
            font-weight: bold;
            padding-bottom: 1rem;
            margin: 0;
        }
        p {
            padding-bottom: 2rem;
            margin: 0;
        }
    }
}

.loan-application-process {
    position: relative;
    background-color: #fff6ef;
    padding: 2rem;
    p {
        text-align: justify;
    }
    &::before {
        content: " ";
        position: absolute;
        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
        background-image: url('/assets/images/finance-a-growing-business.jpg');
        background-size: cover;
        background-position: center;
    }
}

.slide-controls {
    .prev,.next {
        display: inline-block;
        margin-left: .5rem;
        height: 26px;
        width: 26px;
        line-height: 26px;
        text-align: center;
        background-color: #efefef;
        border-radius: 50%;
        transition: all 250ms ease;
        cursor: pointer;
        user-select: none;
        i {
            vertical-align: middle;
        }
        &:hover {
            background-color: $app-secondary;
            color: #ffffff;
        }
    }
}
.latest-articles {
    .dot-nav {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        display: flex;
        z-index: 1;
        .dot {
            height: .5rem;
            width: .5rem;
            border-radius: .5rem;
            background-color: #c2c2c2;
            margin: 0 .25rem;
            cursor: pointer;
            user-select: none;
            transition: all .5s ease;
            &.active {
                width: 20px;
                background-color: $app-primary;
            }
        }
    }
}

.our-products {
    .product-item {
        padding: .5rem;
        background-color: #ffffff;
        margin-bottom: 30px;
        .content {
            position: relative;
            .overlay {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(0deg, rgba(0,0,0,.8) 60%, rgba(0,0,0,0) 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                height: calc(0% + 40px);
                transition: all .5s ease;
                .title {
                    color: #ffffff;
                }
            }
        }
        &:hover {
            .overlay {
                background: linear-gradient(0deg, fade-out($app-secondary,.5) 0%, fade-out($app-secondary,.5) 100%);
                height: calc(100% + 0px);
            }
        }
    }
}

.register-now {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url('/assets/images/bg/register-now-bg.jpg');
    padding: 2rem 0;
    color: #ffffff;
    background-position: center;
    background-size: cover;
    .text {
        font-weight: 500;
        font-size: 18px;
    }
}

.our-team {
    padding: 2rem 0;
    .team-member {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        background-color: #ffffff;
        margin-bottom: 1rem;
        .icon{
            margin-left: auto;
            height: 2rem;
            width: 2rem;
            line-height: 2rem;
            text-align: center;
            color: #ffffff;
            background-color: #498fe6;

        }
        .member-img {
            margin-bottom: 25px;
        }
    }
}

.borrower-reviews {
    background-color: #ffffff;
    padding: 2rem 0;
    .reviews-item {
        background-color: #fafafa;
        .content {
            padding: 1.5rem;
            border-left: solid 4px $app-primary;
        }
        .user {
            color: #000000;
        }
        .message {

        }
        .toggle-replay {
            color: $app-primary;
            border-bottom: solid 1px $app-primary;
            // padding-bottom: 2px;
            margin-right: 2rem;
            cursor: pointer;
        }
        .info {
            margin-left: 1rem;
            color: #000000;
            i {
                color: $app-primary;
                margin-right: 4px;
            }
        }
        .review-replay {
            margin-left: 3rem;
        }
    }
}