.app-footer {
    background-color: #0e1726;
    color: #ffffff;
    .title {
        margin-bottom: 1.5rem;
    }
    h4{
        font-size: 1.15rem;
    }
    .copyrights {
        padding: 1rem;
        font-size: small;
        background-color: #111d33;
    }
}