$app-primary: #0863c7;
$app-secondary: #ff912f;
$app-success: #28e766;
$app-body-color: #3f3f3f;
$app-reports-color:#e5f1ff;
$app-font: 'Poppins', sans-serif;
$app-secondary-font: 'Montserrat', sans-serif;

// Table
$app-table-header-bg: #172a55